* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

nav a {
  height: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 10px;
  justify-content: center;
}

nav a:hover {
  color: #00ACDC;
}

nav {
  margin-left: auto;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.is-active {
  color: #00ACDC;
}

.is-active::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #00ACDC;
  position: absolute;
  bottom: 0;
}

nav ul li:first-child a {
  margin-left: 0;
}

nav ul li:last-child a {
  margin-right: 0;
}
